.reme-image {
  background-size: cover;
  height: 300px;
  cursor: pointer;
  border-radius: 8px;
}

.reme-image-small {
  background-size: cover;
  height: 200px;
  cursor: pointer;
}

.reme-action {
  padding: 5px 0;
}

.footer li a {
  color: #ddd;
  transition: opacity 250ms;
}

.footer li a:hover {
  opacity: 0.5;
}

.upload-box {
  border-radius: 8px;
  border-width: 2px;
  border-style: dashed;
  border-color: #dddddd;
  height: 400px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .space-up-mobile {
    margin-top: 60px;
  }

  .modal-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .reme-image-small {
    height: 150px;
  }

  .upload-box {
    height: 300px;
  }
}